.chooseNumberOfPlayers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.chooseNumberOfPlayers h1{
    font-size:10vh;
}

.chooseNum {
    height: 10vh;
    width: 20vh;
    margin: 5vh;
    font-size: 2vh;
}

.start {
    width: 100vh;
    height: 10vh;
}

.hidden {
    display: none;
}